<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143178225-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-143178225-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="完全未経験から3カ月でエンジニアを育成する池袋のプログラミングスクール。成長に最適化されたカリキュラム、少数精鋭の授業スタイル、講師による徹底サポートによって短期間で確実なスキルの成長を実現します。無料体験も受付中。">
<link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
<script src="https://kit.fontawesome.com/6270f2e9f0.js"></script>
<title>Code Village | 池袋のプログラミングスクール</title>