<header id="js-scrollHdr">
    <div class="hd-wrap">
        <h1 class="hd-logo"><a href="../index.html">> Viral Camp <</a></h1>
        <nav class="hd-nav">
            <ul>
            </ul>
        </nav>

        <nav id="hd-nav--sp">
            <ul>
                <li class="hd-nav__item--sp"><a href="../index.html#why">メリット</a></li>
                <li class="hd-nav__item--sp"><a href="../index.html#about">Viral Campとは</a></li>
                <li class="hd-nav__item--sp"><a href="../index.html#curriculum">カリキュラム</a></li>
                <li class="hd-nav__item--sp"><a href="../index.html#price">料金</a></li>
            </ul>
            <div class="hd-icon--sp">
                <span class="icon-insta">
                    <a href="https://instagram.com/codevillage_offisial?igshid=1j4pr62ysyih1"><i
                            class="fab fa-instagram"></i></a>
                </span>
                <span class="icon-tw">
                    <a href="https://twitter.com/Code__Village"><i class="fab fa-twitter"></i></a>
                </span>
            </div>
        </nav>
        <div class="hd--main-btn">
            <a href="../contact/index.html">無料カウンセリング</a>
        </div>
        <div id="hum-bar">
            <span id="bar1" class="bar"></span>
            <span id="bar2" class="bar"></span>
            <span id="bar3" class="bar"></span>
        </div>
    </div>
</header>