
///////////////////
// 05 q a        //
///////////////////

.q-a {
  background-color: #fff;
  .common-item-wrap {
    @include pc {
      grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
    }
    @include tab {
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
    @include sp {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    grid-gap: 40px 8%;
  }
}

.common-item {// 詳細度調整用
  &__title {// 詳細度調整用
    .question {
      font-family: "ヒラギノ角ゴシック";
      font-size: 1.3rem;
      font-weight: bold;
      color: $fc-white;
    }
    .answer {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}






// common-item系は02-flowにあります