@import "reset"; //リセット
@import "lib"; //変数とか
@import "common"; //共通系
@import "header"; //ヘッダー
@import "footer"; //フッター

@import "first-view";

@import "~flatpickr/dist/themes/light.css";

.outer--contact {
  padding-top: calc(#{$header-pc-height} + 50px);
  @include sp {
    padding-top: calc(#{$header-pc-height} + 50px);
  }
}

.arrow {
  width: 12px;
  height: 12px;
  margin-right: 8.4px;
  border: 2px solid;
  border-color: #565656 #565656 transparent transparent;
  transform: rotate(45deg);
}

.contact_subtitle {
  text-align: center;
  margin-bottom: 80px;
}

.state-must {
  // 必須状態のスタイル
  background-color: #bf0000;
}

.state-free {
  // 任意状態のスタイル
  background-color: #c6c6c6;
}

.column-title {
  font-size: 18px;
  text-align: left;
}

.column-state {
  $height: 28px;
  height: $height;
  line-height: $height;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.column-info {
  height: 49px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  border: 1px solid #b4b4b4;
}

.purpose {
  height: 300px;
  &.close-area {
    display: none;
  }
}

.privacy-policy {
  text-align: center;
  margin-bottom: 22px;
}

.submit__wrapper {
  @extend .hdline--main-btn--shadow;
  display: block;
  margin: 0 auto;
  & > .submit-btn {
    @extend .hdline--main-btn;
    border: none;
    cursor: pointer;
  }
}

.import-link {
  position: absolute;
  top: 89px;
  @include sp {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 144px 66px 1fr;
  align-items: center;
  row-gap: 28px;
  column-gap: 18px;
  @include sp {
    column-gap: 0;
    row-gap: 0;
  }
  .purpose {
    grid-column: 3 / 4;
  }
  .column-info {
    @include sp {
      grid-column: 1 / 4;
      margin-top: 0.5em;
      margin-bottom: 2em;
    }
  }
}

.privacy-link {
  display: inline;
  text-decoration: underline;
  color: blue;
  &:hover {
    opacity: 0.8;
    color: skyblue;
  }
  &:visited {
    color: purple;
  }
}
